{% extends 'catalog/base.html'%}
{% load my_tags %}
{% block content %}
<div class="album py-5 bg-body-tertiary">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
          <div class="card shadow-sm">
            <div class="card-body">
<h1>Регистрация</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>
    </form>
                <a href="{% url 'catalog:prod_list' %}" class="btn btn-secondary">Назад к списку продуктов</a>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
{% endblock%}

<!--<!DOCTYPE html>-->
<!--<html lang="ru">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Регистрация</title>-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">-->
<!--</head>-->
<!--<body>-->
<!--<div class="container mt-5">-->
<!--    <h1>Регистрация</h1>-->
<!--    <form method="post">-->
<!--        {% csrf_token %}-->
<!--        {{ form.non_field_errors }}-->
<!--        {% for field in form %}-->
<!--            <div class="form-group">-->
<!--                {{ field.label_tag }}-->
<!--                {{ field }}-->
<!--                {{ field.errors }}-->
<!--            </div>-->
<!--        {% endfor %}-->
<!--        <button type="submit" class="btn btn-primary">Зарегистрироваться</button>-->
<!--    </form>-->
<!--</div>-->
<!--</body>-->
<!--</html>-->