<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Редактировать продукт</title>
</head>
<body>
<h1>Редактировать продукт</h1>
<form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.non_field_errors }}
        {% for field in form %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Сохранить изменения</button>
</form>
<a href="{% url 'product_list' %}" class="btn btn-secondary">Назад к списку продуктов</a>
</body>
</html>